DATABRICKS_HOST=https://...
# DATABRICKS_SERVING_ENDPOINT_NAME=your_agents_serving_endpoint_name
DATABRICKS_VS_INDEX_NAME=your_vector_search_index_id
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=powertools-arch-options
FLASK_RUN_HOST=0.0.0.0
